---
import Layout from "@/layouts/Layout.astro";
import { CodeEditorWrapper } from "@/components/CodeEditorWrapper";
import { CollapsiblePanelClient } from "@/components/CollapsiblePanelClient";
import { QuickSnippetsClient } from "@/components/QuickSnippetsClient";
import { TemporaryFilesClient } from "@/components/TemporaryFilesClient";
import "@/lib/chromeExtensionSync";
---

<Layout title="JUNON Code - Editor" currentPage="editor">
  <!-- Left Collapsible Panel - Local Files -->
  <CollapsiblePanelClient
    title="Local Files"
    side="left"
    client:load
  >
    <TemporaryFilesClient client:load />
  </CollapsiblePanelClient>

  <!-- Code Editor -->
  <div class="flex-1 overflow-hidden">
    <CodeEditorWrapper client:load />
  </div>

  <!-- Right Collapsible Panel - Quick Snippets -->
  <CollapsiblePanelClient
    title="Snippets"
    side="right"
    client:load
  >
    <QuickSnippetsClient client:load />
  </CollapsiblePanelClient>
</Layout>

